<div class="screen-1">
<div class="container">
    <div class="black">
        <section>
            <div class="signin ">
                <div class="content">
                    <h2>Logar</h2>
                    <div class="d-flex justify-content-between ">
                        <form [formGroup]="formLogin" (ngSubmit)="login()">
                            <div class="email ">
                                <label for="username" class="form-label">Username:</label>
                              <div class="sec-2">
                              <input formControlName="username" type="text"
                                     class="form-control" id="username" name="username" required>
                              </div>
                            </div>

                            <div class="password">
                                <label for="password" class="form-label">Password:</label>
                              <div class="sec-2">
                                <input formControlName="password" type="password"
                                       class="form-control" id="password" name="password" required>
                              </div>
                            </div>

                                    <button type="submit"  class="login">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
