  <div id="menu">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Pilacoin
        </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item funcoes " *ngIf="!isLoggedIn">
              <a href="/login" class="nav-link " routerLink="login">Login</a>
            </li>
            <li class="nav-item">
              <a href="/carteira"  class="nav-link">Carteira</a>
            </li>
            <li class="nav-item">
              <a href="/bloco"  class="nav-link">Bloco</a>
            </li>

            <li class="nav-item">
              <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
          </ul>
       <ul class="navbar-nav ml-auto " *ngIf="isLoggedIn">
       </ul>
        </div>
    </nav>
  </div>


<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
